In [64]:
def get_ql_from_wrf_hydro(qlat_files, index_col="station_id", value_col="q_lateral"):
    """
    qlat_files: globbed list of CHRTOUT files containing desired lateral inflows
    index_col: column/field in the CHRTOUT files with the segment/link id
    value_col: column/field in the CHRTOUT files with the lateral inflow value

    In general the CHRTOUT files contain one value per time step. At present, there is
    no capability for handling non-uniform timesteps in the qlaterals.

    The qlateral may also be input using comma delimited file -- see
    `get_ql_from_csv`
    """

    li = []

    for filename in qlat_files:
        with xr.open_dataset(filename) as ds:
            df1 = ds.to_dataframe()

        li.append(df1)

    frame = pd.concat(li, axis=0, ignore_index=False)
    mod = frame.reset_index()
    ql = mod.pivot(index=index_col, columns="time", values=value_col)

    return ql

In [65]:
if qlat_input_folder:
        qlat_files = glob.glob(qlat_input_folder + qlat_file_pattern_filter)
        qlat_df = nio.get_ql_from_wrf_hydro(
            qlat_files=qlat_files,
            index_col=qlat_file_index_col,
            value_col=qlat_file_value_col,
        )

NameError: name 'qlat_input_folder' is not defined

In [66]:
root = pathlib.Path("/", "content", "t-route")

        test_folder = pathlib.Path(root, "test")
        geo_input_folder = test_folder.joinpath("input", "geo")

    
    
        forcing_parameters["qlat_input_folder"] = os.path.join(
                root,
                "test/input/geo/NWM_2.1_Sample_Datasets/Pocono_TEST1/example_CHRTOUT/",
            )
            forcing_parameters["qlat_file_pattern_filter"] = "/*.CHRTOUT_DOMAIN1"

IndentationError: unexpected indent (<ipython-input-66-d956eb4386d7>, line 3)

In [67]:
import glob
import pathlib 
import os 
import pandas as pd

qlat_file_index_col = "feature_id"
qlat_file_value_col = "q_lateral"

root = pathlib.Path("/", "t-route_fresh", "t-route")
usgs_timeslices_folder = os.path.join(
        root,
        "test/input/geo/nudgingTimeSliceObs/",
    )

usgs_file_pattern_filter = "*.usgsTimeSlice.ncdf"

usgs_files = glob.glob(usgs_timeslices_folder + usgs_file_pattern_filter)

file_name = "2020-03-19_18:00:00.15min.usgsTimeSlice.ncdf"
usgs_timeslices_folder + file_name
# usgs_df = get_ql_from_wrf_hydro(
#     qlat_files=usgs_files,
#     index_col=qlat_file_index_col,
#     value_col=qlat_file_value_col,
# )

'/t-route_fresh/t-route/test/input/geo/nudgingTimeSliceObs/2020-03-19_18:00:00.15min.usgsTimeSlice.ncdf'

In [68]:
file_name = "2020-03-19_18:00:00.15min.usgsTimeSlice.ncdf"
usgs_timeslices_folder + file_name

'/t-route_fresh/t-route/test/input/geo/nudgingTimeSliceObs/2020-03-19_18:00:00.15min.usgsTimeSlice.ncdf'

In [69]:
import xarray as xr
usgs_files = glob.glob(usgs_timeslices_folder + file_name)
ds = xr.open_dataset("/home/jacob.hreha/github/troute/t-route/test/input/geo/nudgingTimeSliceObs/" + file_name)
df = ds.to_dataframe()
df['stationId'] = df['stationId'].str.decode('utf-8') 
df['time'] = df['time'].str.decode('utf-8') 

df
# df.reset_index()
# df.set_index('stationId')

,stationId,time,discharge,discharge_quality,queryTime
stationIdInd,,,,,
0,08158930,2020-03-19_18:00:00,-999999.000000,100,2020-03-19 18:00:00
1,02336300,2020-03-19_18:00:00,-999999.000000,100,2020-03-19 18:00:00
2,08086212,2020-03-19_18:00:00,-999999.000000,100,2020-03-19 18:00:00
3,02215260,2020-03-19_18:00:00,252.019928,100,2020-03-19 18:00:00
4,02439400,2020-03-19_18:00:00,58.899040,100,2020-03-19 18:00:00
...,...,...,...,...,...
3864,00000417,2020-03-19_18:00:00,-999999.000000,100,2020-03-19 18:00:00
3865,03353200,2020-03-19_18:00:00,9.202975,100,2020-03-19 18:00:00
3866,02303000,2020-03-19_18:00:00,-999999.000000,100,2020-03-19 18:00:00
3867,09386950,2020-03-19_18:00:00,0.000000,100,2020-03-19 18:00:00
3868,05374000,2020-03-19_18:00:00,-999999.000000,100,2020-03-19 18:00:00

In [70]:
df

,stationId,time,discharge,discharge_quality,queryTime
stationIdInd,,,,,
0,08158930,2020-03-19_18:00:00,-999999.000000,100,2020-03-19 18:00:00
1,02336300,2020-03-19_18:00:00,-999999.000000,100,2020-03-19 18:00:00
2,08086212,2020-03-19_18:00:00,-999999.000000,100,2020-03-19 18:00:00
3,02215260,2020-03-19_18:00:00,252.019928,100,2020-03-19 18:00:00
4,02439400,2020-03-19_18:00:00,58.899040,100,2020-03-19 18:00:00
...,...,...,...,...,...
3864,00000417,2020-03-19_18:00:00,-999999.000000,100,2020-03-19 18:00:00
3865,03353200,2020-03-19_18:00:00,9.202975,100,2020-03-19 18:00:00
3866,02303000,2020-03-19_18:00:00,-999999.000000,100,2020-03-19 18:00:00
3867,09386950,2020-03-19_18:00:00,0.000000,100,2020-03-19 18:00:00
3868,05374000,2020-03-19_18:00:00,-999999.000000,100,2020-03-19 18:00:00

In [71]:
def get_usgs_from_wrf_hydro(qlat_files,index_col="stationIdInd",value_col="discharge"):
    """
    qlat_files: globbed list of CHRTOUT files containing desired lateral inflows
    index_col: column/field in the CHRTOUT files with the segment/link id
    value_col: column/field in the CHRTOUT files with the lateral inflow value

    In general the CHRTOUT files contain one value per time step. At present, there is
    no capability for handling non-uniform timesteps in the qlaterals.

    The qlateral may also be input using comma delimited file -- see
    `get_ql_from_csv`
    """

    li = []

    for filename in qlat_files:
        with xr.open_dataset(filename) as ds:
            df1 = ds.to_dataframe()

        li.append(df1)

    frame = pd.concat(li, axis=0, ignore_index=False)
    mod = frame.reset_index()
    usgs_df = mod.pivot(index="stationIdInd", columns="time", values=[value_col])

    return usgs_df

In [72]:
# import glob, os
# os.chdir("/home/jacob.hreha/github/troute/t-route/test/input/geo/nudgingTimeSliceObs/")
# usgs_files = glob.glob(file_name)

# usgs_df = get_usgs_from_wrf_hydro(
#     qlat_files=usgs_files,
#     index_col="stationIdInd",
#     value_col="discharge",
# )
# usgs_df

In [73]:
# ../../test/input/geo/NWM_2.1_Sample_Datasets/Pocono_TEST1/primary_domain/DOMAIN/Route_Link.nc

In [146]:
import xarray as xr


usgs_files = glob.glob(usgs_timeslices_folder + file_name)
ds = xr.open_dataset("/home/jacob.hreha/github/troute/t-route/test/input/geo/nudgingTimeSliceObs/" + file_name)
df2 = ds.to_dataframe()
df2['stationId'] = df2['stationId'].str.decode('utf-8') 
df2['time'] = df2['time'].str.decode('utf-8') 

# df2.reset_index(drop=True)
# df2 = df2.reset_index(level='stationId')

df2 = df2.reset_index()
df2.drop(df2.columns.difference(['stationId','time','discharge','discharge_quality']), 1, inplace=True)
# df2 = df2['stationId'].astype(float)
# df2 = df2.set_index('stationId')
df2
df2.reset_index()
df2.set_index('stationId', inplace=True)
df2 = df2.reset_index()
df2.index = df2.index.set_names(['position'])
df2 = df2.reset_index()
df2 = df2.set_index(['stationId'])
df2

df2.loc['       08158930']

position                               0
time                 2020-03-19_18:00:00
discharge                        -999999
discharge_quality                    100
Name:        08158930, dtype: object

In [121]:
df2 = df2.reset_index()
df2.index = df2.index.set_names(['position'])
# df2 = df2.set_index(['link'])
df2

,position,stationId,time,discharge,discharge_quality
position,,,,,
0,0,08158930,2020-03-19_18:00:00,-999999.000000,100
1,1,02336300,2020-03-19_18:00:00,-999999.000000,100
2,2,08086212,2020-03-19_18:00:00,-999999.000000,100
3,3,02215260,2020-03-19_18:00:00,252.019928,100
4,4,02439400,2020-03-19_18:00:00,58.899040,100
...,...,...,...,...,...
1860984,1860984,00000417,2020-03-24_18:00:00,-999999.000000,100
1860985,1860985,03353200,2020-03-24_18:00:00,6.258023,100
1860986,1860986,02303000,2020-03-24_18:00:00,-999999.000000,100
1860987,1860987,09386950,2020-03-24_18:00:00,0.000000,100
1860988,1860988,05374000,2020-03-24_18:00:00,-999999.000000,100

In [117]:
ds = xr.open_dataset("/home/APD/inland_hydraulics/wrf-hydro-run/DOMAIN/routeLink_subset.nc")
df3 = ds.to_dataframe()
df3.sort_values('link')
df3 = df3.reset_index()
df3.index = df3.index.set_names(['position'])
df3 = df3.set_index(['link'])
df3
# df.index = df.index.set_names(['foo'])

,feature_id,from,to,lon,lat,alt,order,Qi,MusK,MusX,...,ChSlp,BtmWdth,NHDWaterbodyComID,time,gages,Kchan,ascendingIndex,nCC,TopWdthCC,TopWdth
link,,,,,,,,,,,,,,,,,,,,,
14828145,0,0,14828071,-96.919670,46.893719,273.290009,3,0.0,3600.0,0.2,...,0.386170,7.358820,-9999,2000-01-01,b' 05059480',0,2723024,0.11,36.794102,12.264701
7069483,1,0,7069499,-96.710838,48.213661,266.420013,4,0.0,3600.0,0.2,...,0.311776,11.952611,-9999,2000-01-01,b' 05085450',0,1548739,0.11,59.763058,19.921019
7069499,2,0,7069507,-96.730247,48.205956,264.959991,4,0.0,3600.0,0.2,...,0.311169,12.005546,-9999,2000-01-01,b' ',0,1452123,0.11,60.027729,20.009243
14172539,3,0,14172507,-100.526756,48.169743,460.619995,4,0.0,3600.0,0.2,...,0.281200,15.103322,-9999,2000-01-01,b' 05120500',0,1423703,0.11,75.516609,25.172203
6689073,4,0,6689049,-96.628960,46.787830,278.519989,5,0.0,3600.0,0.2,...,0.272118,16.270174,-9999,2000-01-01,b' 05061500',0,1349895,0.10,81.350876,27.116957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2788603,109218,0,0,-121.875320,38.047585,0.000000,7,0.0,3600.0,0.2,...,0.159416,54.672470,-9999,2000-01-01,b' ',0,2656814,0.09,273.362335,91.120781
1010002381,109219,0,1010002385,-67.818100,47.081886,127.989998,6,0.0,3600.0,0.2,...,0.176434,43.443199,-9999,2000-01-01,b' ',0,2656735,0.10,217.215988,72.405334
1010002385,109220,0,1010002388,-67.813759,47.078209,127.910004,6,0.0,3600.0,0.2,...,0.176400,43.462093,-9999,2000-01-01,b' ',0,2656716,0.10,217.310471,72.436829
1010002388,109221,0,1010002391,-67.802383,47.071709,126.000000,6,0.0,3600.0,0.2,...,0.176375,43.476273,-9999,2000-01-01,b' ',0,2719210,0.10,217.381363,72.460457
1010002391,109222,0,0,-67.790802,47.067303,128.009995,6,0.0,3600.0,0.2,...,0.176370,43.478970,-9999,2000-01-01,b' ',0,2656722,0.10,217.394852,72.464951

In [76]:
ds = xr.open_dataset("/home/APD/inland_hydraulics/wrf-hydro-run/DOMAIN/RouteLink.nc")
df = ds.to_dataframe()
# df['stationId'] = df['stationId'].str.decode('utf-8') 
# df['time'] = df['time'].str.decode('utf-8') 

df
# df.reset_index()
# df.set_index('stationId')

,link,from,to,lon,lat,alt,order,Qi,MusK,MusX,...,ChSlp,BtmWdth,NHDWaterbodyComID,time,gages,Kchan,ascendingIndex,nCC,TopWdthCC,TopWdth
feature_id,,,,,,,,,,,,,,,,,,,,,
0,14828145,0,14828071,-96.919670,46.893719,273.290009,3,0.0,3600.0,0.2,...,0.386170,7.358820,-9999,2000-01-01,b' 05059480',0,2723024,0.11,36.794102,12.264701
1,7069483,0,7069499,-96.710838,48.213661,266.420013,4,0.0,3600.0,0.2,...,0.311776,11.952611,-9999,2000-01-01,b' 05085450',0,1548739,0.11,59.763058,19.921019
2,7069499,0,7069507,-96.730247,48.205956,264.959991,4,0.0,3600.0,0.2,...,0.311169,12.005546,-9999,2000-01-01,b' ',0,1452123,0.11,60.027729,20.009243
3,14172539,0,14172507,-100.526756,48.169743,460.619995,4,0.0,3600.0,0.2,...,0.281200,15.103322,-9999,2000-01-01,b' 05120500',0,1423703,0.11,75.516609,25.172203
4,6689073,0,6689049,-96.628960,46.787830,278.519989,5,0.0,3600.0,0.2,...,0.272118,16.270174,-9999,2000-01-01,b' 05061500',0,1349895,0.10,81.350876,27.116957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109218,2788603,0,0,-121.875320,38.047585,0.000000,7,0.0,3600.0,0.2,...,0.159416,54.672470,-9999,2000-01-01,b' ',0,2656814,0.09,273.362335,91.120781
109219,1010002381,0,1010002385,-67.818100,47.081886,127.989998,6,0.0,3600.0,0.2,...,0.176434,43.443199,-9999,2000-01-01,b' ',0,2656735,0.10,217.215988,72.405334
109220,1010002385,0,1010002388,-67.813759,47.078209,127.910004,6,0.0,3600.0,0.2,...,0.176400,43.462093,-9999,2000-01-01,b' ',0,2656716,0.10,217.310471,72.436829
109221,1010002388,0,1010002391,-67.802383,47.071709,126.000000,6,0.0,3600.0,0.2,...,0.176375,43.476273,-9999,2000-01-01,b' ',0,2719210,0.10,217.381363,72.460457
109222,1010002391,0,0,-67.790802,47.067303,128.009995,6,0.0,3600.0,0.2,...,0.176370,43.478970,-9999,2000-01-01,b' ',0,2656722,0.10,217.394852,72.464951

In [77]:
import numpy as np
df = df.reset_index()
df.drop(df.columns.difference(['link','to','gages','ascendingIndex']), 1, inplace=True)

df['gages'] = df['gages'].str.decode('utf-8')
nan_value = float("NaN")
df['gages'].replace('               ', nan_value, inplace=True)
df = df[df['gages'].notna()]
df.dropna(subset=['gages'], inplace=True)

df = df.set_index('gages')


df

                     link        to  ascendingIndex
gages
       05059480  14828145  14828071         2723024
       05085450   7069483   7069499         1548739
       05120500  14172539  14172507         1423703
       05061500   6689073   6689049         1349895
       05085000  14434343  14434353         1350164
...                   ...       ...             ...
       00000378   2851585   2851605         2718843
       11390500   2851625   2852741         2719415
       00000136   2858219   2858243         2656953
       00000336  15039173  15039309         2719007
       00000334  15048247  15048249         2656587

[3477 rows x 3 columns]

In [104]:
# df.loc['       4185517']

In [79]:
df.loc[df['link']==4153018]

Empty DataFrame
Columns: [link, to, ascendingIndex]
Index: []

In [80]:
# mod1 = df2.join(df)
# mod1 = mod1.reset_index()
# mod2 = mod1.drop(mod1.columns.difference(['to','time','gages','discharge','discharge_quality']), 1, inplace=True)
mod2 = df2.join(df)
mod2 = mod2.reset_index()
mod2 = mod2[mod2['index'].notna()]
nan_value = float("NaN")
mod2['index'].replace(['               ','            N/A','           NONE'], nan_value, inplace=True)
mod2 = mod2[mod2['index'].notna()]
# pd.to_numeric(mod2['index']) 
mod2 = mod2.set_index(['index'])
mod2

,time,discharge,discharge_quality,link,to,ascendingIndex
index,,,,,,
0922,2020-03-19_18:00:00,0.169901,100,3.196672e+06,3.196618e+06,804014.0
00090,2020-03-19_18:00:00,-999999.000000,100,4.288013e+06,4.287793e+06,1449374.0
0635480,2020-03-19_18:00:00,-999999.000000,100,1.466539e+07,1.466510e+07,2183756.0
0811500,2020-03-19_18:00:00,-999999.000000,100,3.124238e+06,3.124256e+06,469878.0
0818810,2020-03-19_18:00:00,-999999.000000,100,1.643099e+06,1.643101e+06,46899.0
...,...,...,...,...,...,...
0818999010,2020-03-19_18:00:00,-999999.000000,100,7.869629e+06,7.869233e+06,592372.0
2948311020,2020-03-19_18:00:00,-999999.000000,100,1.131000e+09,1.131000e+09,637201.0
3010301044,2020-03-19_18:00:00,-999999.000000,100,1.131000e+09,1.131000e+09,1246096.0
390707081443202,2020-03-19_18:00:00,-999999.000000,100,1.944043e+07,1.944044e+07,508198.0
411925089063901,2020-03-19_18:00:00,370.950684,100,1.483769e+07,1.483770e+07,1210187.0

In [106]:
mod2.loc[mod2['link']==14172539]

,time,discharge,discharge_quality,link,to,ascendingIndex
index,,,,,,
05120500,2020-03-19_18:00:00,-999999.0,100,14172539.0,14172507.0,1423703.0

In [83]:
df2

                                time      discharge  discharge_quality
stationId
       08158930  2020-03-19_18:00:00 -999999.000000                100
       02336300  2020-03-19_18:00:00 -999999.000000                100
       08086212  2020-03-19_18:00:00 -999999.000000                100
       02215260  2020-03-19_18:00:00     252.019928                100
       02439400  2020-03-19_18:00:00      58.899040                100
...                              ...            ...                ...
       00000417  2020-03-19_18:00:00 -999999.000000                100
       03353200  2020-03-19_18:00:00       9.202975                100
       02303000  2020-03-19_18:00:00 -999999.000000                100
       09386950  2020-03-19_18:00:00       0.000000                100
       05374000  2020-03-19_18:00:00 -999999.000000                100

[3869 rows x 3 columns]

In [84]:
import glob
import pathlib 
import os 
import pandas as pd
import xarray as xr

# qlat_file_index_col = "feature_id"
# qlat_file_value_col = "q_lateral"

root = pathlib.Path("/", "t-route_fresh", "t-route")
usgs_timeslices_folder = os.path.join(
        root,
        "test/input/geo/nudgingTimeSliceObs/",
    )

usgs_file_pattern_filter = "*.usgsTimeSlice.ncdf"

usgs_files = glob.glob(usgs_timeslices_folder + usgs_file_pattern_filter)

file_name = "2020-03-19_18:00:00.15min.usgsTimeSlice.ncdf"
usgs_timeslices_folder + file_name

'/t-route_fresh/t-route/test/input/geo/nudgingTimeSliceObs/2020-03-19_18:00:00.15min.usgsTimeSlice.ncdf'

In [85]:
ds = xr.open_dataset("/home/APD/inland_hydraulics/wrf-hydro-run/DOMAIN/RouteLink.nc")
df = ds.to_dataframe()
df = df.reset_index()
df.drop(df.columns.difference(['link','to','gages','ascendingIndex']), 1, inplace=True)
df['gages'] = df['gages'].str.decode('utf-8')
nan_value = float("NaN")
df['gages'].replace('               ', nan_value, inplace=True)
df = df[df['gages'].notna()]
df.dropna(subset=['gages'], inplace=True)
df = df.set_index('gages')
df

/home/APD/inland_hydraulics/wrf-hydro-run/DOMAIN

NameError: name 'home' is not defined

In [86]:
ds = xr.open_mfdataset("/home/jacob.hreha/github/troute/t-route/test/input/geo/nudgingTimeSliceObs/*",combine='nested',concat_dim='stationIdInd')

In [89]:
ds['stationId'].values

array([b'       08158930', b'       02336300', b'       08086212', ...,
       b'       02303000', b'       09386950', b'       05374000'],
      dtype='|S15')

In [90]:

# usgs_files = glob.glob(usgs_timeslices_folder + file_name)
# ds = xr.open_dataset("/home/jacob.hreha/github/troute/t-route/test/input/geo/nudgingTimeSliceObs/" + file_name)
ds = xr.open_mfdataset("/home/jacob.hreha/github/troute/t-route/test/input/geo/nudgingTimeSliceObs/*",combine='nested',concat_dim='stationIdInd')
df2 = ds.to_dataframe()
df2['stationId'] = df2['stationId'].str.decode('utf-8') 
df2['time'] = df2['time'].str.decode('utf-8') 
df2 = df2.reset_index()
df2.drop(df2.columns.difference(['stationId','time','discharge','discharge_quality']), 1, inplace=True)
df2.reset_index()
df2.set_index('stationId', inplace=True)

df2
# ql = mod.pivot(index=index_col, columns="time", values=value_col)

                                time      discharge  discharge_quality
stationId
       08158930  2020-03-19_18:00:00 -999999.000000                100
       02336300  2020-03-19_18:00:00 -999999.000000                100
       08086212  2020-03-19_18:00:00 -999999.000000                100
       02215260  2020-03-19_18:00:00     252.019928                100
       02439400  2020-03-19_18:00:00      58.899040                100
...                              ...            ...                ...
       00000417  2020-03-24_18:00:00 -999999.000000                100
       03353200  2020-03-24_18:00:00       6.258023                100
       02303000  2020-03-24_18:00:00 -999999.000000                100
       09386950  2020-03-24_18:00:00       0.000000                100
       05374000  2020-03-24_18:00:00 -999999.000000                100

[1860989 rows x 3 columns]

In [91]:
# df_temp.duplicated()

In [92]:
# df2.iloc[3923]

In [93]:
# df.insert(4, 'new_col_name', tmp)

In [94]:
# columns_list = (df_temp.columns)
# columns_list

In [95]:
# df_temp['2020-03-19_18:00:00']

In [96]:


# df_temp.columns[0]
# temp = df_temp.columns[0]
# temp2 = temp[:-5]
# temp3 = temp2 + str('05:00')
# temp4 = temp2 + str('10:00')
# temp3,temp4

In [97]:
# df.insert(4, 'new_col_name', tmp)

In [98]:
# df_temp

In [99]:
df_temp = df2
# df_temp = df_temp.pivot(index='stationId', columns="time", values="discharge")
df_temp = df_temp.pivot_table(values='discharge', index=df_temp.index, columns='time', aggfunc='first')
# df_temp.pivot(index='stationId', columns='time', values='discharge')
# df_temp.pivot_table(df_temp, values ='discharge', index=['stationId'], columns = 'time').reset_index()
# ql = mod.pivot(index=index_col, columns="time", values=value_col)

df_temp

time,2020-03-19_18:00:00,2020-03-19_18:15:00,2020-03-19_18:30:00,2020-03-19_18:45:00,2020-03-19_19:00:00,2020-03-19_19:15:00,2020-03-19_19:30:00,2020-03-19_19:45:00,2020-03-19_20:00:00,2020-03-19_20:15:00,...,2020-03-24_15:45:00,2020-03-24_16:00:00,2020-03-24_16:15:00,2020-03-24_16:30:00,2020-03-24_16:45:00,2020-03-24_17:00:00,2020-03-24_17:15:00,2020-03-24_17:30:00,2020-03-24_17:45:00,2020-03-24_18:00:00
stationId,,,,,,,,,,,,,,,,,,,,,
,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,...,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521
N/A,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,...,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000
0922,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,...,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901
NONE,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,...,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535
00090,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,...,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0818999010,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,...,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000
2948311020,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,...,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000
3010301044,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,...,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000
390707081443202,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,...,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000
411925089063901,370.950684,371.894592,372.838470,373.782379,374.726257,375.670166,376.614044,377.557953,378.501831,379.445740,...,684.559814,683.379944,682.200073,681.020203,679.840332,678.660461,677.480591,676.300720,675.120850,673.940979

In [100]:
columns_list = (df_temp.columns)

for i in range(0,(len(columns_list)*3)-12,12):
    original_string = df_temp.columns[i]
    original_string_shortened = original_string[:-5]
    temp_name1 = original_string_shortened + str('05:00')
    temp_name2 = original_string_shortened + str('10:00')
    temp_name3 = original_string_shortened + str('20:00')
    temp_name4 = original_string_shortened + str('25:00')
    temp_name5 = original_string_shortened + str('35:00')
    temp_name6 = original_string_shortened + str('40:00')
    temp_name7 = original_string_shortened + str('50:00')
    temp_name8 = original_string_shortened + str('55:00')
    df_temp.insert(i+1, temp_name1, np.nan)
    df_temp.insert(i+2, temp_name2, np.nan)
    df_temp.insert(i+4, temp_name3, np.nan)
    df_temp.insert(i+5, temp_name4, np.nan)
    df_temp.insert(i+7, temp_name5, np.nan)
    df_temp.insert(i+8, temp_name6, np.nan)
    df_temp.insert(i+10, temp_name7, np.nan)
    df_temp.insert(i+11, temp_name8, np.nan)
df_temp = df_temp.interpolate(method='linear',  axis=1)

In [101]:
df_temp = df_temp.interpolate(method='linear',  axis=1)

In [102]:
df_temp

time,2020-03-19_18:00:00,2020-03-19_18:05:00,2020-03-19_18:10:00,2020-03-19_18:15:00,2020-03-19_18:20:00,2020-03-19_18:25:00,2020-03-19_18:30:00,2020-03-19_18:35:00,2020-03-19_18:40:00,2020-03-19_18:45:00,...,2020-03-24_17:15:00,2020-03-24_17:20:00,2020-03-24_17:25:00,2020-03-24_17:30:00,2020-03-24_17:35:00,2020-03-24_17:40:00,2020-03-24_17:45:00,2020-03-24_17:50:00,2020-03-24_17:55:00,2020-03-24_18:00:00
stationId,,,,,,,,,,,,,,,,,,,,,
,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,...,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521,11.128521
N/A,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,...,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000
0922,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,...,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901,0.169901
NONE,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,...,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535,0.226535
00090,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,...,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0818999010,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,...,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000
2948311020,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,...,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000
3010301044,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,...,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000
390707081443202,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,...,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000
411925089063901,370.950684,371.265320,371.579956,371.894592,372.209218,372.523844,372.838470,373.153107,373.467743,373.782379,...,677.480591,677.087301,676.694010,676.300720,675.907430,675.514140,675.120850,674.727559,674.334269,673.940979

In [103]:
df_temp[4153018]

KeyError: 4153018

In [ ]:
mod2 = df2.join(df)
mod2 = mod2.reset_index()
mod2 = mod2[mod2['index'].notna()]
nan_value = float("NaN")
# mod2['index'].replace(['               '], nan_value, inplace=True)
mod2['index'].replace(['               ','            N/A','           NONE'], nan_value, inplace=True)
mod2 = mod2[mod2['index'].notna()]

# pd.to_numeric(mod2['index']) 
mod2 = mod2.set_index('index')
mod2

In [ ]:
#remove discharge -999999