In [17]:

import xarray as xr

ds = xr.open_dataset('/home/APD/inland_hydraulics/wrf-hydro-run/OUTPUTS/202003191900.CHRTOUT_DOMAIN1')
df = ds.to_dataframe()

In [18]:
df

,,streamflow,nudge,q_lateral,velocity,station_id,qSfcLatRunoff,qBucket
station,time,,,,,,,
0,2020-03-19 19:00:00,1.417163,0.0,0.13697,0.326531,14828145,0.0,0.13697
1,2020-03-19 19:00:00,0.630760,0.0,0.00943,0.209569,7069483,0.0,0.00943
2,2020-03-19 19:00:00,1.349287,0.0,0.00823,0.277640,7069499,0.0,0.00823
3,2020-03-19 19:00:00,4.180715,0.0,0.01241,0.385742,14172539,0.0,0.01241
4,2020-03-19 19:00:00,21.188623,0.0,0.11880,0.132911,6689073,0.0,0.11880
...,...,...,...,...,...,...,...,...
109218,2020-03-19 19:00:00,1928.978027,0.0,0.00000,0.399567,2788603,0.0,0.00000
109219,2020-03-19 19:00:00,65.375267,0.0,0.00291,0.156339,1010002381,0.0,0.00291
109220,2020-03-19 19:00:00,65.392624,0.0,0.00516,1.226495,1010002385,0.0,0.00516
109221,2020-03-19 19:00:00,65.642509,0.0,0.01860,0.156497,1010002388,0.0,0.01860
109222,2020-03-19 19:00:00,65.676132,0.0,0.00237,0.156518,1010002391,0.0,0.00237

In [16]:
df['station_id']

station  time
0        2020-03-19 19:00:00      14828145
1        2020-03-19 19:00:00       7069483
2        2020-03-19 19:00:00       7069499
3        2020-03-19 19:00:00      14172539
4        2020-03-19 19:00:00       6689073
                                   ...
109218   2020-03-19 19:00:00       2788603
109219   2020-03-19 19:00:00    1010002381
109220   2020-03-19 19:00:00    1010002385
109221   2020-03-19 19:00:00    1010002388
109222   2020-03-19 19:00:00    1010002391
Name: station_id, Length: 109223, dtype: int32

In [20]:
# from glob import glob
# filenames = glob(xr.open_dataset('/home/APD/inland_hydraulics/wrf-hydro-run/OUTPUTS/*.CHRTOUT_DOMAIN1'))
# dataframes = [ds.to_dataframe() for f in filenames]

import pandas as pd

import glob

path = r'/home/APD/inland_hydraulics/wrf-hydro-run/OUTPUTS' # use your path

all_files = glob.glob(path + "/*.CHRTOUT_DOMAIN1")

li = []

for filename in all_files:

    df = ds.to_dataframe()

    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [22]:
frame

,streamflow,nudge,q_lateral,velocity,station_id,qSfcLatRunoff,qBucket
0,1.417163,0.0,0.13697,0.326531,14828145,0.0,0.13697
1,0.630760,0.0,0.00943,0.209569,7069483,0.0,0.00943
2,1.349287,0.0,0.00823,0.277640,7069499,0.0,0.00823
3,4.180715,0.0,0.01241,0.385742,14172539,0.0,0.01241
4,21.188623,0.0,0.11880,0.132911,6689073,0.0,0.11880
...,...,...,...,...,...,...,...
13106755,1928.978027,0.0,0.00000,0.399567,2788603,0.0,0.00000
13106756,65.375267,0.0,0.00291,0.156339,1010002381,0.0,0.00291
13106757,65.392624,0.0,0.00516,1.226495,1010002385,0.0,0.00516
13106758,65.642509,0.0,0.01860,0.156497,1010002388,0.0,0.01860
13106759,65.676132,0.0,0.00237,0.156518,1010002391,0.0,0.00237

In [27]:



import xarray as xr

ds = xr.open_dataset('/home/APD/inland_hydraulics/wrf-hydro-run/restart/HYDRO_RST.2020-03-19_18:00_DOMAIN1')
df = ds.to_dataframe()

In [28]:
df

                   qlink1       qlink2       resht      qlakeo
lakes links
0     0          2.340000     2.340000   63.590000  193.179993
      1          1.810000     1.810000   63.590000  193.179993
      2          1.860000     1.860000   63.590000  193.179993
      3          5.180000     5.180000   63.590000  193.179993
      4         23.959999    23.959999   63.590000  193.179993
...                   ...          ...         ...         ...
503   109218  1912.250000  1912.250000  151.230667    0.000000
      109219    65.500000    65.500000  151.230667    0.000000
      109220    65.619995    65.619995  151.230667    0.000000
      109221    65.739998    65.739998  151.230667    0.000000
      109222    65.760002    65.760002  151.230667    0.000000

[55048392 rows x 4 columns]